<div class="container">
  <h1 class = "text-center">WELCOME TO TODO-LIST</h1>
  <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Title</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" [(ngModel)] = "todo_t">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Description</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)] = "todo_d"></textarea>
</div>
<button class = "btn btn-primary" (click)="addTodo()">Add</button>
<button class="btn btn-danger mx-2" (click) = "removeAll()">Remove All</button>
<hr>
<h3>Your todos</h3>
<div *ngIf="this.todos.length == 0; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>No todos to show.</ng-template>
<ng-template #elseBlock>
  <div *ngFor = "let todos of todos;let i=index">
  <h4 [ngClass]="{'strike': todos.done}">{{todos.title}}</h4>
  <p [ngClass]="{'strike': todos.done}">{{todos.description}}</p>
  <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault{{i}}" (click)="markasdone(todos)" [checked] = "todos.done">
  <label class="form-check-label" for="flexCheckDefault">
    Mark As Done
  </label>
</div>
  <button class = "btn btn-danger" (click)="deleteTodo(todos)">Delete</button>
</div>
</ng-template>
</div>